<h1>Berlin Ember Meetup <div class="small">Ember + D3</div></h1>

<ul>
  <li>{{#link-to 'bars'}}Bars{{/link-to}}</li>
  <li>{{#link-to 'spectrum'}}Spectrum{{/link-to}}</li>
  <li>{{#link-to 'map'}}Berlin map{{/link-to}}</li>
</ul>


{{outlet}}
